* {
	margin: 0;
	padding: 0;
}


body {
	height: 69vh;
	background: #7918f2;
	background: -webkit-linear-gradient(-45deg, #ac32e4, #7918f2, #4801ff);
	background: -o-linear-gradient(-45deg, #ac32e4, #7918f2, #4801ff);
	background: -moz-linear-gradient(-45deg, #ac32e4, #7918f2, #4801ff);
	background: linear-gradient(-45deg, #ac32e4, #7918f2, #4801ff);
	
}

.main {
	height: calc(50vh);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.coming-soon {
	text-align: center;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 72px;
}

.logo {
	/*position: static;*/
	/*top: 0;
	left: 0;*/
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 300px;
}


@media all and (min-width: 768px) and (max-width: 1024px) { 
	body {
	    height: 90vh;
	  }
}
